.cart_heading{
    
    text-align: start;
}

.cart_heading_title{
    font-size: 25px;
}

.cart_heading_1{
    font-weight: bolder;
    text-align: start;
}
.cart_heading_2{
    
    text-align: start;
}