.card_div_1{
    margin-top: 40px;
   
}

.cart_billing{
    text-align: start;
    color: rgb(130, 130, 130);
    font-size: 20px;
}

.cart_billing_coupons{
    text-align: start;
    color: rgb(130, 130, 130);
    font-size: 14px;
  
}

.cart_billing_amount{
    color: rgb(130, 130, 130);
    font-size: 20px;
}

.cart_discount_amount{
    color: green;
    font-size: 20px;
}