/* .nav-dropdown{
    right: 40px;
    font-size: 16px;
}

.search-bar{
    margin-right: 5rem;
}

.search-form{
    width: 35rem;
}

.btn-login{
    margin-right: 30px;
} */

.nav-item-1{
    display: flex;
}

.div-nav{
    padding-left: 60px;
    font-size: 10px;
}

.nav-dropdown-1{
    font-size: 10px;
    bottom: 8px;
    left: 30px;
}

/* .navbar-heading{
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-left: 45px;
    font-size: 20px;
} */