.row_main{
    margin-top: 30px;
    margin-left: 45px;
}

.footer_card_image{
    width: 100px;
    height: 100px;
    margin-left: 120px;
    margin-top: 20px;
}

.footer_card{
    width: 350px;
    height: 250px;
}