.navbar_heading{
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-left: 45px;
    font-size: 20px;
}

.nav_dropdown{
    right: 40px;
    font-size: 16px;
}

.search_bar{
    margin-right: 5rem;
}

.search_form{
    width: 35rem;
    margin-right: 100px;
}

.btn_login{
    margin-right: 30px;
}