.cart_main{
    height: 400px;
    overflow-y: auto;
}

.card_main_1{
    display: flex;
}

.card_image{
    width: 100px;
    height: 100px;
}

.card_div{
    margin-right: 20px;
    background: green;
}