body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.accordion-button::after{
  width: none !important;
  content: none !important;
}

.btn-secondary {
 
  --bs-btn-hover-color: green;
  --bs-btn-hover-bg: none !important;
  --bs-btn-hover-border-color: #146c43;
  --bs-btn-focus-shadow-rgb: green;
  
}

.card-body {
  
  padding-top: 10px;
  }